<h1>Viewing <%= @user.name %>'s profile</h1>

<br />

<h2><%= @user.name %> <%= button_to "Follow", 'friendship#create', :class => 'btn' %></h2>
<% if @user.avatar_file_name.blank?  %>
<%= image_tag "snobi-avi.png" %>
<% else %>
<%= image_tag user.avatar %>
<% end %>
<h5><%= @user.friendships.count %> followers | 
	<%= @user.reverse_friendships.count %> followings |
	<%= @user.posts.count %> posts</h5>

<p><%= "Profile picture placeholder" %></p>
<p>Username: <%= @user.handle %></p>
<p>Bio: <%= @user.desc %></p>
<p>Location: <%= @user.location %></p>
<p>Site: <%= link_to @user.site, @user.site %></p>

<br />
<br />

<h5><%= @user.name%>'s most recent posts:</h5>
<br />

<% @user.posts.all.reverse.each do |post| %>

  <div class="item">
      <div class="pin">
        <p><%= post.user.name %></p>
        <p><%= link_to(image_tag(post.image.url.to_s), post) %></p>
        <p><%= link_to post.likes.count, post %> <%= link_to "likes", post %> | <%= link_to post.comments.count, post %> <%= link_to "comments", post %></p>
        <p><%= post.desc %></p>
        <p><%= time_ago_in_words post.created_at %> ago</p>
      </div>
  </div>

<% end %>